.sidebar > ul > li > a {
  color: black;
  text-decoration: none;
}

.sidebar > ul > li > a:hover {
  color: #2e8555;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  height: 100%;

  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}

.sidebar-section {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  max-width: calc(3 / 12 * 100%);
}

.sidebar {
  position: fixed;
}

.sidebar-name {
  font-size: 1.25rem;
  font-weight: 700;

  margin-bottom: 1rem;
}

.sidebar > ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.sidebar > ul > li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-top: 0.7rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: calc(7 / 12 * 100%);
}

.intro {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #eee;
}

.intro > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
  font-size: 32px;
}

.img {
  width: 256px;
}

.message {
  font-size: 32px;
  text-align: center;
}
